/* styles.css */
.button-style {
    -fx-font-size: 25px;
    -fx-padding: 10px 20px; /* Set the padding */
    -fx-min-width: 250px;
    -fx-max-width: 250px;
    -fx-min-height: 100;
     -fx-background-color: lightblue;
    -fx-max-height: 100px;
}
.radio-button{
fx-font-size: 25px;
    /* Set the text color */
    -fx-padding: 10px 20px; /* Set the padding */
    -fx-background-color: lightblue;
    -fx-font-size: 20;
    -fx-min-width: 175;
    -fx-max-width: DOUBLE.MAX_VALUE;
    -fx-min-height: 100;
    -fx-max-height: 100px;
}
.minor-label{
-fx-font-size:25px;
}

.combo-button{
    -fx-min-height: 100;
    -fx-max-height: 100px;
    -fx-font-size:25px;
     -fx-background-color: lightblue;
}


/* styles.css */
.scroll-pane .scroll-bar:vertical,
.scroll-pane .scroll-bar:horizontal {
    -fx-pref-width:10;
    -fx-pref-height:1;
    -fx-opacity: 0; /* Set the opacity of the scrollbar to 0 (hidden) */
}
/* style.css */

/* Set the grid layout properties */
.grid_pane{
-fx-font-size:15px;
}

/* Set the width of the columns */
.name {
    -fx-pref-width: 675px;
    -fx-pref-height: 50px;
}

.price {
    -fx-pref-width: 50px;
    -fx-pref-height: 50px;
}

.calories {
    -fx-pref-width: 50px;
    -fx-pref-height: 50px;
}
.grid-button{
-fx-pref-width:100px;
-fx-pref-height:75px;
}
.discount_button{
-fx-pref-width:100px;
-fx-pref-height:75px;
}

.lower-buttons{
-fx-pref-width:149px;
-fx-pref-height:100px;
-fx-background-color:lightgreen;
-fx-border-color: black; /* Border color */
-fx-border-width: 0.5px; /* Border width */
-fx-border-style: solid; /* Border style (solid, dashed, etc.) */
}
.receipt-button{
-fx-pref-width:300px;
-fx-pref-height:50px;
}