/* styles.css */
.button-style {
    -fx-font-size: 25px;
    -fx-background-color: #336699; /* Set the background color */
    -fx-text-fill: white; /* Set the text color */
    -fx-padding: 10px 20px; /* Set the padding */
    -fx-min-width: 250px;
    -fx-max-width: 250px;
    -fx-min-height: 100;
    -fx-max-height: 100px;
}
.radio-button{
fx-font-size: 25px;
    -fx-background-color: #336699; /* Set the background color */
    -fx-text-fill: white; /* Set the text color */
    -fx-padding: 10px 20px; /* Set the padding */
    -fx-min-width: 175;
    -fx-max-width: DOUBLE.MAX_VALUE;
    -fx-min-height: 100;
    -fx-max-height: 100px;
}
.minor-label{
-fx-font-size:25px;
-fx-text-fill: white;
}

.combo-button{
    -fx-min-height: 100;
    -fx-max-height: 100px;
    -fx-font-size:25px;
    -fx-text-fill: white;
    -fx-background-color: #336699;
}


/* styles.css */
.scroll-pane .scroll-bar:vertical,
.scroll-pane .scroll-bar:horizontal {
    -fx-pref-width:1;
    -fx-pref-height:1;
    -fx-opacity: 0; /* Set the opacity of the scrollbar to 0 (hidden) */
}
/* style.css */

/* Set the grid layout properties */
.grid_pane{
-fx-font-size:15px;
}

/* Set the width of the columns */
.name {
    -fx-pref-width: 675px;
    -fx-pref-height: 50px;
    -fx-background-color: #336699; /* Set the background color */
    -fx-text-fill: white;
    -fx-border-color: white; /* Set the border color */
    -fx-border-width: 1px; /* Set the border width */

}

.price {
    -fx-pref-width: 50px;
    -fx-pref-height: 50px;
    -fx-background-color: #336699; /* Set the background color */
        -fx-text-fill: white;
        -fx-border-color: white; /* Set the border color */
    -fx-border-width: px; /* Set the border width */
}

.calories {
    -fx-pref-width: 50px;
    -fx-pref-height: 50px;
    -fx-background-color: #336699; /* Set the background color */
    -fx-text-fill: white;
    -fx-border-color: white; /* Set the border color */
    -fx-border-width: 1px; /* Set the border width */
}
.grid-button{
-fx-pref-width:99px;
-fx-pref-height:99px;
}
.lower-buttons{
-fx-pref-width:149px;
-fx-pref-height:99px;
}
.receipt-button{
-fx-pref-width:295px;
-fx-pref-height:50px;
}